.table-vcenter td {
    vertical-align: middle!important;
}

.container {
    margin-top:15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

tr.clickable-row {
    cursor: pointer;
}

.brand{
    background-color: #7fba37;
}

.aboBody{
    width: 990px;
    clear: both;
    padding-top: 15px;
}

.aboRow{
    clear: both;
}

.aboItem{
    height: 520px;
    width: 307px;
    float: left;
    margin-right: 23px;
    margin-bottom: 23px;
    padding: 5px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.phoneName{
    font: 600 18px/30px "Open Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 5px;
    text-align: center;
}

.phoneImg{
    width:125px;
    height:150px;
    float:left;
}

.phonePrice{
    width:155px;
    height:150px;
    float:left;
    padding-top:25px;
}

.aboSpecs{
    padding-left:15px;
    padding-top: 10px;
    width:306px;
    height:150px;
    clear:both;
}

.aboSpecs ul{
    font: 400 12px/20px "Open Sans", Arial, Helvetica, sans-serif;
}

.aboSpecs li{
    list-style: inside none none;
}

.aboType{
    font: 600 15px/30px "Open Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.phoneLosPrice{
    font: 400 15px/0px "Open Sans", Arial, Helvetica, sans-serif;
}

.vanPrice{font: 300 15px/10px "Open Sans", Arial, Helvetica, sans-serif; text-decoration: line-through;}

.voorPrice{font: 700 35px/40px "Open Sans", Arial, Helvetica, sans-serif;}
.voorPrice span{ font: 700 25px/40px "Open Sans", Arial, Helvetica, sans-serif;
}

.pmnd{font: 600 20px/30px "Open Sans", Arial, Helvetica, sans-serif;}

.bijbetaling{font: 600 14px/20px "Open Sans", Arial, Helvetica, sans-serif;}

.afhaal-button {
    padding: 20px 0px 10px 0px;
    text-align: center;
}

.winkelmandjeButton:hover {
    background-color: #6ea130;
}

.winkelmandjeButton:active {
    position:relative;
    top:1px;
}

.winkelmandjeButton {
    background-color: #7fba37;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 20px;
    margin-left: -20px;
    text-decoration: none;
    display: inline-block;
}

.aboItem:hover {
    border: solid 1px #c1c1c1;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 75%, rgba(239,239,230,0.57) 99%, rgba(239,239,230,0.59) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0)), color-stop(99%,rgba(239,239,230,0.57)), color-stop(100%,rgba(239,239,230,0.59))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 75%,rgba(239,239,230,0.57) 99%,rgba(239,239,230,0.59) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 75%,rgba(239,239,230,0.57) 99%,rgba(239,239,230,0.59) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 75%,rgba(239,239,230,0.57) 99%,rgba(239,239,230,0.59) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 75%,rgba(239,239,230,0.57) 99%,rgba(239,239,230,0.59) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#96efefe6',GradientType=0 ); /* IE6-9 */
}

.extraInfo{
    font: 400 12px/20px "Open Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 5px;
    text-align: center;
}